html,
body {
    margin: 5px;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #FDFDFD;
}

.job_head {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #C8C8C8;
    margin-bottom: 5px;
}

.job_entry {
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: #FAFAFA;

}